.Ending {
  width: 1200px;
  height:300px;
  margin-top: 20px;
  margin-left: 110px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(81, 65, 65);
}

.Ending-heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.Ending-description {
  font-size: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.Ending-links {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.Ending-links a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(104, 97, 97);
  padding: 10px 20px;
  border: 1px solid rgb(113, 102, 102);
  border-radius: 5px;
  cursor: pointer;
}

.Ending-links a:hover {
  background-color: #fff;
  color: rgb(110, 103, 103);
  transition: all 0.3s ease-in-out;
}
