.RunMoon {
    position: absolute;
    width: 717px;
    height: 300px;
    margin-left: 99px;
    background-color: rgb(85, 14, 83);
    z-index: 999;
  }



#trajectory-moon {
    position: absolute;
    top: 23%; /* 修改轨道的垂直位置，以调整轨道与月亮的相对位置 */
    left: 25%;
    width: 300px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed rgb(26, 5, 5);
    animation: orbit 10s linear infinite; /* 这里为了保持所有css属性名称一致，将动画名称 orbit 改为 #trajectory ,可以忽略 */
    opacity: 0.5;
  }

     #moon {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 80px;
        height: 80px;
        z-index: 1;
        animation: moonOrbit 10s linear infinite;
        background-color:transparent;
        border-radius:50%;
        box-shadow:20px 10px 0px 0px #FFFF00;
        background: radial-gradient(circle, rgba(255,238,170,1) 10%, rgb(241, 223, 23) 60%, rgba(255,182,193,0) 100%), /* 修改背景色及纹理 */
     }       

   #moon:before, #moon:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%, /* 修改 clip-path 属性，剪裁出想要的月牙形状 */
         50% 100%,
        0% 75%,
        0% 25%) 
  } 
  


    @keyframes orbit {
            0% {
                transform: translateX(-100px) translateY(0px);
            }
            100% {
                transform: translateX(100px) translateY(0px);
            }
        }


        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        @keyframes moonPath-animation {
            0% {
                transform: translateX(-100px) translateY(0px);
            }
            50% {
                transform: translateX(0px) translateY(100px);
            }
            100% {
                transform: translateX(100px) translateY(0px);
            }
        }

        @keyframes moonOrbit {
            from {
                transform: rotate(0deg) translateX(-120px) rotate(0deg);
            }
            to {
                transform: rotate(360deg) translateX(-120px) rotate(-360deg);
            }
        }